.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--tertiary-color);
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}

.tab {
  padding: 10px 20px;
  text-align: center;
  flex: 1 1 200px;
  max-width: 280px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  color: var(--secondary-color);
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  border: 1px solid var(--tertiary-color);
  box-shadow: 0px 4px 12px var(--shadow-color);
}

.tab.active {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
}

.tab:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.skill-card {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px var(--shadow-color);
  cursor: pointer;
  width: 100%;
  max-width: 180px;
  min-height: 140px;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--shadow-color);
}

.skill-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 1rem;
  color: var(--secondary-color);
}

.content-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.details-column {
  flex: 1 1 400px;
  min-width: 300px;
}

.title {
  font-size: 1.5rem;
  color: var(--tertiary-color);
  margin-bottom: 15px;
}

.description {
  font-size: 1rem;
  flex: 2;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.6;
  color: var(--text-color);
}

.label {
  font-weight: bold;
  color: var(--secondary-color);
}

.link {
  display: inline-block;
  color: var(--tertiary-color);
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--primary-color);
}

.gallery-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
  border: 2px solid var(--tertiary-color);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.05);
  max-width: 510px;
  max-height: 510px;
}

.gallery-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
  border-color: var(--tertiary-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 20px var(--shadow-color);
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: var(--primary-color);
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: var(--primary-color);
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  z-index: 1001;
  transform: translateY(-50%);
}

.prev {
  left: 5%;
}

.next {
  right: 5%;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .tabs {
    gap: 10px;
    margin-bottom: 0px;
  }

  .description {
    font-size: 0.9rem;
  }

  .gallery-column {
    grid-template-columns: repeat(2, 1fr);
    max-width: 480px;
    max-height: 480px;
  }

  .gallery-image {
    width: 100%;
    height: auto;
  }

  .content-layout {
    flex-direction: column;
    align-items: center;
  }

  .details-column {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .tabs {
    gap: 8px;
  }

  .description {
    font-size: 0.9rem;
  }

  .gallery-column {
    grid-template-columns: repeat(2, 1fr);
    max-width: 480px;
    max-height: 480px;
  }

  .gallery-image {
    width: 100%;
    height: auto;
  }

  .content-layout {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .details-column {
    width: 100%;
  }
}
