
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    min-height: 20vh;
    text-align: left;
}

.about-left {
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    max-width: 500px;
    min-width: 200px;
}

.about-right {
    flex: 1 1 500px;
    text-align: justify;
    padding: 1.5rem 2rem;
    background-color: var(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    border-radius: 16px;
    box-shadow: 0px 4px 20px var(--shadow-color);
}

.about-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    color: var(--secondary-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.6;
}

.about-title span {
    color: var(--tertiary-color);
    margin: 0 0.5rem;
    font-weight: bold;
}

.about-intro {
    font-size: 1.2rem;
    margin: 2rem 0 1rem 0;
    color: var(--heading-color);
}

.about-right p {
    font-size: 1.05rem;
    line-height: 1.8;
    color: var(--secondary-color);
    margin-bottom: 1.2rem;
}

.about-content {
    width: 100%;
    margin-top: 3rem;
    padding: 2rem;
    background-color: var(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    border-radius: 16px;
    box-shadow: 0 0 20px var(--shadow-color);
    text-align: center;
}

.about-extra {
    font-style: italic;
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.experience-list {
    list-style: none;
    padding-left: 0;
    color: var(--secondary-color);
    font-size: 1rem;
}

.experience-list li {
    margin-bottom: 1rem;
    line-height: 1.6;
    border-left: 4px solid var(--tertiary-color);
    padding-left: 1rem;
    text-align: left;
}

.experience-list span {
    color: var(--text-color);
    font-style: italic;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-title {
        font-size: 1rem;
        font-weight: 500;
    }

    .about-left {
        margin-bottom: 0px;
    }

    .about-right {
        padding: 1rem;
    }

    .experience-list li {
        border-left: none;
        border-top: 2px solid var(--tertiary-color);
        padding-left: 0;
        padding-top: 0.5rem;
    }
}

@media (max-width: 480px) {
    .about-title {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .about-right p,
    .about-intro {
        font-size: 0.9rem;
    }

    .about-extra {
        font-size: 0.9rem;
    }

    .experience-list {
        font-size: 0.9rem;
    }
}
