.subheader {
    height: 350px;
    width: 100%;
    background: linear-gradient(rgba(5, 2, 20, 0.386), rgba(6, 2, 22, 0.507)), url(../../assets/Sub-Header-1.jpg);
    background-size: cover;
    background-position: top;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: left;
}

.subheader-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
}

.subheader h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 12%;
    padding-top: 3%;
    color: #ffffff;
}

@media (max-width: 768px) {
    .subheader {
        height: 300px;
        padding: 30px;
    }

    .subheader h1 {
        font-size: 1.6rem;
        margin: 5%;
        padding-top: 20%;
    }
}

@media (max-width: 480px) {
    .subheader {
        height: 250px;
        padding: 20px;
    }

    .subheader h1 {
        font-size: 1.4rem;
        margin: 5%;
        padding-top: 15%;
    }
}
