.about-me-title {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 800;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    position: relative;
}

.about-me-title::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 20%;
    width: 60%;
    height: 4px;
    border-radius: 2px;
    background: var(--btn-gradient);
}

@media screen and (max-width: 768px) {
    .about-me-title {
        font-size: 1.8rem;
        margin-top: 40px;
    }
}
